/* Write your code here */
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrow-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
}

.arrow-icon {
  background-color: none;
  border: none;
}
